<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
{{!--
<script src="../app/js/process.js"></script> --}}
<div class="wrapper">
  <div class="sidebar">
    <div class="admin">
        <div class="img">
          <img src="/img/ganyu.jpg" alt="">
        </div>
        <div class="admin__title">
          <legend class="admin-title">admin</legend>
        </div>
    </div>
    <ul>
      <li>
        <a href="/admin/home" >
            <div class="nav-icon">
                <i class="fas fa-user"></i>
            </div>
            <div class="nav-title">
                <span>Quản lí tài khoản</span>
            </div>
        </a>
      </li>
      <li>
        <a href="/admin/stu_manager" class="active">
            <div class="nav-icon">
                <i class="fas fa-user-graduate"></i>
            </div>
            <div class="nav-title">
                <span>Quản lý sinh viên</span>
            </div>
        </a>
      </li>
      <li>
        <a href="/admin/point_manager">
            <div class="nav-icon">
                <i class="fas fa-address-book"></i>
            </div>
            <div class="nav-title">
                <span>Thông tin học tập</span>
            </div>
        </a>
      </li>
      <li>
        <a href="/admin/certifi_manager">
            <div class="nav-icon">
                <i class="fas fa-address-card"></i>
            </div>
            <div class="nav-title">
                <span>Danh sách chứng chỉ</span>
            </div>
        </a>
      </li>
      <li>
        <a href="/admin/waitcertifi_manager">
            <div class="nav-icon">
                <i class="fas fa-edit"></i>
            </div>
            <div class="nav-title">
                <span>Danh sách chờ cấp bằng</span>
            </div>
        </a>
      </li>
      <li>
        <a href="/admin/updatelist">
            <div class="nav-icon">
                <i class="far fa-calendar-alt"></i>
            </div>
            <div class="nav-title">
                <span>Lịch sử cập nhật</span>
            </div>
        </a>
      </li>
      <li>
        <a href="/signin">
            <div class="nav-icon">
                <i class="fas fa-user-minus"></i>
            </div>
            <div class="nav-title">
                <span>Đăng xuất</span>
            </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="main_content">
    <div class="header">
      <h2>Thêm sinh viên mới</h2>
    </div>
    <div class="content">
      <div class="wrap-table">
        <div class="wrap-tbl">
            <form action="/admin/store" method="POST" id="add_stu">
        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Họ và tên<span class="text-danger"> *</span></label>
            <input type="text" id="name" name="name" placeholder="Nhập họ và tên">
          </div>
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Mã sinh viên<span class="text-danger"> *</span></label>
            <input type="text" id="masv" name="masv" placeholder="Nhập mã sinh viên">
          </div>
        </div>
        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label>
            <input type="text" id="email" name="email" placeholder="ví dụ. a@vku.udn.vn">
          </div>
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Khoa<span class="text-danger"> *</span></label>
            <input type="text" id="khoa" name="khoa" placeholder=" Nhập Khoa">
          </div>
        </div>
        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Lớp<span class="text-danger"> *</span></label>
            <input type="text" id="lop" name="lop" placeholder="Nhập lớp">
          </div>
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Số điện thoại<span class="text-danger"> *</span></label>
            <input type="text" id="sdt" name="sdt" placeholder=" Nhập số điện thoại">
          </div>
        </div>
        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">CMND / CCCD<span class="text-danger"> *</span></label>
            <input type="text" id="cmnd" name="cmnd" placeholder=" Nhập số CMND hoặc CCCD">
          </div>
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Ngày sinh<span class="text-danger"> *</span></label>
            <input type="date" id="birday" name="birday" placeholder="Nhập ngày sinh">
          </div>
        </div>
        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Giới tính<span class="text-danger"> *</span></label>
            <input type="text" id="gender" name="gender" placeholder="Nhập giới tính">
          </div>
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Địa chỉ<span class="text-danger"> *</span></label>
            <input type="text" id="address" name="address" placeholder="Nhập địa chỉ">
          </div>
        </div>
        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Ngành đào tạo<span class="text-danger"> *</span></label>
            <input type="text" id="nganh" name="nganh" placeholder="Nhập ngành đào tạo">
          </div>
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Trình độ đào tạo<span class="text-danger"> *</span></label>
            <input type="text" id="trinhdodt" name="trinhdodt" placeholder="Nhập trình độ đào tạo">
          </div>
        </div>
        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Niên khóa<span class="text-danger"> *</span></label>
            <input type="text" id="nienkhoa" name="nienkhoa" placeholder="Nhập niên khóa">
          </div>
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Hình thức đào tạo<span class="text-danger"> *</span></label>
            <input type="text" id="hinhthucdt" name="hinhthucdt" placeholder="Nhập hình thức đào tạo">
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="form-group col-sm-7">
            <button type="submit" id="btnnewstu" class="add-btn pad-12-15">Thêm sinh viên</button>
          </div>
        </div>
      </form>
        </div>
      </div>
      
    </div>
  </div>
</div>