<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
    <div class="sidebar">
        <h2>ADMIN2</h2>
        <ul>
            <li>
                <a href="#">
                    <div class="nav-icon">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="nav-title">
                        <span>Quản lí tài khoản</span>
                    </div>
                </a>
            </li>
            <li><a href="#"><i class="fas fa-user"></i>Quản lý chức vụ</a></li>
            <li><a href="/stu_manager"><i class="fas fa-address-card"></i>Quản lý sinh viên</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i>Thông tin học tập</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Chứng chỉ</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Đăng xuất</a></li>
        </ul> 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</div>