<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
  <div class="container">
    <div class="container-login">
    <div class="wrap-login">
      <form action="/login" class="login-form" method="post">
        <span class="login-title">Login
        </span>
        <div class="wrap-input">
          <span class="email-label pl-7">Email</span>
          <label for="email" class="icon-user"><i class="fa-solid fa-user"></i></label>
          <input type="email" class="email-input" name="email" id="email" placeholder="email@example.com" required>
        </div>
        <div class="wrap-input">
          <span class="pass-label pl-7">Password</span>
          <label for="password" class="icon-user"><i class="fa-solid fa-lock"></i></label>
          <input type="password" class="pass-input" name="password" id="password" placeholder="******" required>
        </div>
        <div class="wrap-forget">
          <a href="#">Forgot Password?</a>
        </div>
        <div class="wrap-loginbtn">
          
          <button type="submit" class="login-btn">log in</button>
          
        </div>
      </form>
    </div>
    </div>
  </div>
</body>
<style>
  body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
</style>